<div class="container">
  <!-- Conditional rendering based on route -->
  <div *ngIf="loggedInUser && isShopOrCartPage()" class="d-flex justify-content-between align-items-center">
    <span>Welcome, {{ loggedInUser.email }}</span>
    
           
    <div class="user-menu" (click)="toggleMenu()">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>

    <div *ngIf="menuOpen" class="popup-menu">
      <ul>
        <li (click)="navigateTo('myprofile')">My Profile</li>
        <li (click)="navigateTo('wishlist')">Wishlist</li>        
        <li (click)="logout()">Logout</li>
      </ul>
    </div>
  </div>

  <div *ngIf="notification" class="notification-popup" [ngClass]="notificationType" role="alert">
    {{ notification }}
  </div>

   <!-- Confirmation message popup with Yes/No buttons -->
   <div *ngIf="confirmation" class="confirmation-popup" role="alert">
    {{ confirmation.message }}
    <div class="confirmation-buttons">
      <button class="btn btn-primary" (click)="confirmAction()">Yes</button>
      <button class="btn btn-secondary" (click)="cancelAction()">No</button>
    </div>
  </div>
     
  <router-outlet></router-outlet>
</div>
