<!-- myprofile.component.html -->
<div class="profile-container">
  <h1 class="profile-title">My Profile</h1>
  <table class="profile-table">
    <tr>
      <td class="profile-label">First Name:</td>
      <td class="profile-value">{{ loggedInUser.firstName }}</td>
    </tr>
    <tr>
      <td class="profile-label">Last Name:</td>
      <td class="profile-value">{{ loggedInUser.lastName }}</td>
    </tr>
    <tr>
      <td class="profile-label">Email:</td>
      <td class="profile-value">{{ loggedInUser.email }}</td>
    </tr>
  </table>
</div>


